In [16]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib as plt

from datetime import datetime, date, timedelta

In [17]:
msft = yf.Ticker("MSFT")
data = msft.history(period="id")
print(data["Close"].iloc[-1])
data

303.42999267578125

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-27 00:00:00-04:00,295.970001,303.5,295.269989,303.429993,21664118,0.0,0.0

In [18]:
BA10Y = pd.read_csv("D:\Programacion proyectos\Data proyect\Clean\BA1Y\BA1Y_clean.csv")
BA10Y.drop(["Unnamed: 0"], axis="columns", inplace=True)
BA10Y

           Date  Price   Open   High    Low  Change % Variation  OpenPrice
0    04/01/2023  35.70  34.94  36.39  32.53    0.0218     2.18%   1.021752
1    03/01/2023  34.94  39.40  40.91  32.95   -0.1078   -10.78%   0.886802
2    02/01/2023  39.16  34.75  39.83  33.34    0.1097    10.97%   1.126906
3    01/01/2023  35.29  37.58  38.10  33.73   -0.0902    -9.02%   0.939063
4    12/01/2022  38.79  35.94  39.05  34.02    0.0475     4.75%   1.079299
..          ...    ...    ...    ...    ...       ...       ...        ...
348  04/01/1994  70.35  69.08  71.76  67.79    0.0385     3.85%   1.018384
349  03/01/1994  67.74  61.68  68.52  61.42    0.1015    10.15%   1.098249
350  02/01/1994  61.50  56.51  62.11  55.83    0.0908     9.08%   1.088303
351  01/01/1994  56.38  57.96  59.00  55.41   -0.0251    -2.51%   0.972740
352  12/01/1993  57.83  58.13  58.47  56.22   -0.0021    -0.21%   0.994839

[353 rows x 8 columns]

In [19]:
TNX = pd.read_csv("D:\Programacion proyectos\Data proyect\CSV crudo\^TNX.csv")

diference = (TNX["Close"]/TNX["Open"])
TNX = TNX.assign(OpenClose=diference)
TNX

           Date    Open    High     Low   Close  Adj Close  Volume  OpenClose
0    1985-01-01  11.700  11.700  11.060  11.170     11.170       0   0.954701
1    1985-02-01  11.290  11.910  11.290  11.910     11.910       0   1.054916
2    1985-03-01  11.860  12.020  11.650  11.650     11.650       0   0.982293
3    1985-04-01  11.660  11.770  11.130  11.410     11.410       0   0.978559
4    1985-05-01  11.270  11.290  10.280  10.280     10.280       0   0.912156
..          ...     ...     ...     ...     ...        ...     ...        ...
455  2022-12-01   3.594   3.905   3.402   3.879      3.879       0   1.079299
456  2023-01-01   3.758   3.810   3.373   3.529      3.529       0   0.939063
457  2023-02-01   3.475   3.983   3.334   3.916      3.916       0   1.126906
458  2023-03-01   3.940   4.091   3.295   3.494      3.494       0   0.886802
459  2023-04-01   3.517   3.639   3.253   3.432      3.432       0   0.975832

[460 rows x 8 columns]