# <font color='blue'>CPI (Consumer Price Index)</font>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

from googletrans import Translator
from datetime import datetime, date, timedelta

In [2]:
CPI = pd.read_csv("D:\Programacion proyectos\Data proyect\CSV crudo\IPCyear.csv")
CPI

,Unnamed: 0,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,China,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.619524,2.621050,1.921642,1.437024,2.000002,1.593136,2.074790,2.899234,2.419422,0.981015
1,Unión Europea,EUU,1.741180,2.077138,3.553504,2.921642,3.416280,3.986620,3.703356,3.319324,...,2.662842,1.219993,0.199344,-0.061645,0.183335,1.429107,1.738609,1.630523,0.497367,2.554507
2,Japón,JPN,3.574512,5.368462,6.835440,6.706906,3.800389,6.655991,5.040832,3.989848,...,-0.044065,0.335038,2.759227,0.795280,-0.127259,0.484200,0.989095,0.468776,-0.024996,-0.233353
3,Estados Unidos,USA,1.457976,1.070724,1.198773,1.239669,1.278912,1.585169,3.015075,2.772786,...,2.069337,1.464833,1.622223,0.118627,1.261583,2.130110,2.442583,1.812210,1.233584,4.697859
4,Mundo,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,2.621050,2.346269,1.434318,1.550016,2.192010,2.438737,2.186902,1.920968,3.495058

In [3]:
CPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    5 non-null      object
 1   Country Code  5 non-null      object
 2   1960          3 non-null      float64
 3   1961          3 non-null      float64
 4   1962          3 non-null      float64
 5   1963          3 non-null      float64
 6   1964          3 non-null      float64
 7   1965          3 non-null      float64
 8   1966          3 non-null      float64
 9   1967          3 non-null      float64
 10  1968          3 non-null      float64
 11  1969          3 non-null      float64
 12  1970          3 non-null      float64
 13  1971          3 non-null      float64
 14  1972          3 non-null      float64
 15  1973          3 non-null      float64
 16  1974          3 non-null      float64
 17  1975          3 non-null      float64
 18  1976          3 non-null      float64
 19  1977          3 non-null      float64
 20  1978          3 non-null      float64
 21  1979          3 non-null      float64
 22  1980          3 non-null      float64
 23  1981          4 non-null      float64
 24  1982          4 non-null      float64
 25  1983          4 non-null      float64
 26  1984          4 non-null      float64
 27  1985          4 non-null      float64
 28  1986          4 non-null      float64
 29  1987          5 non-null      float64
 30  1988          5 non-null      float64
 31  1989          5 non-null      float64
 32  1990          5 non-null      float64
 33  1991          5 non-null      float64
 34  1992          5 non-null      float64
 35  1993          5 non-null      float64
 36  1994          5 non-null      float64
 37  1995          5 non-null      float64
 38  1996          5 non-null      float64
 39  1997          5 non-null      float64
 40  1998          5 non-null      float64
 41  1999          5 non-null      float64
 42  2000          5 non-null      float64
 43  2001          5 non-null      float64
 44  2002          5 non-null      float64
 45  2003          5 non-null      float64
 46  2004          5 non-null      float64
 47  2005          5 non-null      float64
 48  2006          5 non-null      float64
 49  2007          5 non-null      float64
 50  2008          5 non-null      float64
 51  2009          5 non-null      float64
 52  2010          5 non-null      float64
 53  2011          5 non-null      float64
 54  2012          5 non-null      float64
 55  2013          5 non-null      float64
 56  2014          5 non-null      float64
 57  2015          5 non-null      float64
 58  2016          5 non-null      float64
 59  2017          5 non-null      float64
 60  2018          5 non-null      float64
 61  2019          5 non-null      float64
 62  2020          5 non-null      float64
 63  2021          5 non-null      float64
dtypes: float64(62), object(2)
memory usage: 2.6+ KB

## <font color='white'>Columns and rows</font>

In [4]:
CPI.rename(columns={"Unnamed: 0":"Country"}, inplace=True)
CPI

,Country,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,China,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.619524,2.621050,1.921642,1.437024,2.000002,1.593136,2.074790,2.899234,2.419422,0.981015
1,Unión Europea,EUU,1.741180,2.077138,3.553504,2.921642,3.416280,3.986620,3.703356,3.319324,...,2.662842,1.219993,0.199344,-0.061645,0.183335,1.429107,1.738609,1.630523,0.497367,2.554507
2,Japón,JPN,3.574512,5.368462,6.835440,6.706906,3.800389,6.655991,5.040832,3.989848,...,-0.044065,0.335038,2.759227,0.795280,-0.127259,0.484200,0.989095,0.468776,-0.024996,-0.233353
3,Estados Unidos,USA,1.457976,1.070724,1.198773,1.239669,1.278912,1.585169,3.015075,2.772786,...,2.069337,1.464833,1.622223,0.118627,1.261583,2.130110,2.442583,1.812210,1.233584,4.697859
4,Mundo,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,2.621050,2.346269,1.434318,1.550016,2.192010,2.438737,2.186902,1.920968,3.495058

#### <font color='lightblue'>Traduction</font>

In [5]:
translator = Translator()
countrys = []

for i in CPI["Country"]:
    countrys.append(translator.translate(i, dest='en').text) #scr="es" is automatic. Google translator automatically detects the language
print(countrys)


CPI["Country"] = countrys
CPI

['China', 'European Union', 'Japan', 'USA', 'World']

,Country,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,China,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.619524,2.621050,1.921642,1.437024,2.000002,1.593136,2.074790,2.899234,2.419422,0.981015
1,European Union,EUU,1.741180,2.077138,3.553504,2.921642,3.416280,3.986620,3.703356,3.319324,...,2.662842,1.219993,0.199344,-0.061645,0.183335,1.429107,1.738609,1.630523,0.497367,2.554507
2,Japan,JPN,3.574512,5.368462,6.835440,6.706906,3.800389,6.655991,5.040832,3.989848,...,-0.044065,0.335038,2.759227,0.795280,-0.127259,0.484200,0.989095,0.468776,-0.024996,-0.233353
3,USA,USA,1.457976,1.070724,1.198773,1.239669,1.278912,1.585169,3.015075,2.772786,...,2.069337,1.464833,1.622223,0.118627,1.261583,2.130110,2.442583,1.812210,1.233584,4.697859
4,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,2.621050,2.346269,1.434318,1.550016,2.192010,2.438737,2.186902,1.920968,3.495058

In [6]:
print(CPI.select_dtypes(exclude=['float']).columns)

chinaCPI = CPI[CPI['Country'] == 'China']
euCPI = CPI[CPI['Country'] == 'European Union']
japanCPI = CPI[CPI['Country'] == 'Japan']
usaCPI = CPI[CPI['Country'] == 'USA']
worldCPI = CPI[CPI['Country'] == 'World']

Index(['Country', 'Country Code'], dtype='object')

# <font color='green'>Save changes</font>

In [7]:
CPI.to_csv("D:\Programacion proyectos\Data proyect\Clean\IPCyear\CPI_clean.csv")